# Automatically created by: scrapy startproject
#
# For more information about the [deploy] section see:
# http://doc.scrapy.org/en/latest/topics/scrapyd.html

[settings]
default = crawl.settings

# Project: seiyuu
[deploy]
url = http://dash.scrapinghub.com/api/scrapyd/
username = 4b33c0fb834e431b8ea054a7d755d9e2
password =
project = 6485

# [deploy]
# #url = http://localhost:6800/
# project = seiyuu
